.playlistCard {
  display: inline-block;
  background-color: #B31B1B;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.albumImage {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 6px 6px 0px 0px;
}

.playlistTitle {
  color: white;
  font-size: 2em;
}

.playlistLength {
  color: #999999;
  font-size: 1em;
}

p {
  color: white;
  font-size: 2.5em;
  text-align: center;
}

html, body{
  -webkit-appearance: none;
  margin: 0;

  padding: 0;

  min-width: 100%;
  width: 100%;
  max-width: 100%;

  min-height: 100%;
  height: 100%;
  max-height: 100%;

  background-color: #680000;
  font-family: "Impact";
}