.tab {
  width: 50%;
  color: white;
  background-color: #B31B1B;
  text-align: center;
  font-size: 2em;
  border: 1px solid white;
  padding: 2px;
}

#selected_tab {
  background-color: #EF6464;
}

#search_bar {
	width: 100%;
  height: 6.1em;
	position: fixed;
  table-layout: auto;
  background-color: #B31B1B;
}

#search_text {
  height: 1em;
  width: 100%;
  font-size: 2em;
  background-color: #EF6464;
  border: 0px solid black;
  padding-bottom: 5px;
  padding-left: 0.3em;
  color: white;
  margin: 0.2em;
  margin-bottom: 0.05em;
  margin-right: 0em;
  border-radius: 0.5em;
}

#search_button {
  margin: 0.3em;
  height: 2.8em;
}

#parent {
  display: flex;
  width: 100%;
}

input {
  flex: 1;
}

.album_image {
	display: table-cell;
}

#results tr:last-child { 
  border-bottom: none; 
}

#results {
  margin-top: 4.9em;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  background-color: #680000;
  color: white;
}

#results td {
 padding: .2em;
 border-bottom: 1px solid #B31B1B;
}

.song_text {
	width: 100%;
}

.song_title {
  font-size: 1.5em;
  font-weight: bold;
}

.artist_name {
  font-size: 1.2em;
  color: #CCCCCC;
}

.add_button {
  width: 45px;
  height: 45px;
}

html, body{
  -webkit-appearance: none;
  margin: 0;

  padding: 0;

  min-width: 100%;
  width: 100%;
  max-width: 100%;

  min-height: 100%;
  height: 100%;
  max-height: 100%;

  background-color: black;
  font-family: "Impact";
}